<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="assets/js/jquery341.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
        {% include "partials/navtop.html" %}
        <div class="container mt-5">
                {% block body %}{% endblock %}
        <div class="container">    
</body>
</html>