{% extends 'partials/template.html' %}
{% block title %}Register{% endblock %}

{% block body %}

<h1>Register Now</h1>
<form action="/register" method="post">

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control {% if body.username and not errors.username  %}  is-valid {% endif%} {% if errors.username  %} is-invalid  {% endif%}" name="username" value="{{body.username}}" placeholder="username">
        {% if errors.username %}
            <span class="text-danger small px-2">{{errors.username}}</span>
        {% endif %}            
    </div>

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control {% if body.firstName and not errors.firstName  %}  is-valid {% endif%} {% if errors.firstName  %} is-invalid  {% endif%}" name="firstName" value="{{body.firstName}}" placeholder="firstName">
        {% if errors.firstName %}
            <span class="text-danger small px-2">{{errors.firstName}}</span>
        {% endif %}            
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control {% if body.lastName and not errors.lastName  %}  is-valid {% endif%} {% if errors.lastName  %} is-invalid  {% endif%}" name="lastName" value="{{body.lastName}}" placeholder="lastName">
        {% if errors.lastName %}
            <span class="text-danger small px-2">{{errors.lastName}}</span>
        {% endif %}            
    </div>

    <div class="form-group">
        <label for="dateOfBirth">Date Of Birth</label>
        <input type="date" class="form-control {% if body.dateOfBirth and not errors.dateOfBirth  %}  is-valid {% endif%} {% if errors.dateOfBirth  %} is-invalid  {% endif%}" name="dateOfBirth" value="{{body.dateOfBirth}}" placeholder="dateOfBirth">
        {% if errors.dateOfBirth %}
            <span class="text-danger small px-2">{{errors.dateOfBirth}}</span>
        {% endif %}            
    </div>

    <div class="form-group">
        <label for="sex">Sex</label>
        <select class="form-control {% if body.sex and not errors.sex  %}  is-valid {% endif%} {% if errors.sex  %} is-invalid  {% endif%}" name="sex">
            <option selected="selected" disabled>Select your sex</option>
            <option {% if body.sex == "M" %} selected {% endif %} value="M">Male (&#9894)</option>
            <option {% if body.sex == "F" %} selected {% endif %} value="F">Female (&#9792)</option>
        </select>
        {% if errors.sex %}
            <span class="text-danger small px-2">{{errors.sex}}</span>
        {% endif %}            
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control {% if body.password and not errors.password  %}  is-valid {% endif%} {% if errors.password  %} is-invalid  {% endif%}" name="password" value="{{body.password}}" placeholder="password">
        {% if errors.password %}
            <span class="text-danger small px-2">{{errors.password}}</span>
        {% endif %}            
    </div>

    <button class="btn btn-outline-success" type="submit">Submit</button>
</form>
{% endblock %}